<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand ">Issue tracker</div>
        </div>
        <ul ng-if="isAuthenticated()" class="nav navbar-nav">
            <li><a href="#/">Dashboard</a></li>
            <li ng-if="isAdmin()"><a href="#/projects">Projects</a></li>
        </ul>
        <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a href="#/profile/password">{{identity.getUserData().Username}}</a></li>
            <li><a href="#/logout">Logout</a></li>
        </ul>
    </div>
</nav>