<div class="col-centered col-md-4">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="oldPassword">Old password</label>
                    <input id="oldPassword" required="required" ng-model="data.OldPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input id="newPassword" required="required" ng-model="data.NewPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repeat password</label>
                    <input id="repeatPassword" required="required" ng-model="data.ConfirmPassword" type="password" class="form-control" />
                </div>
                <button class="btn btn-primary" ng-disabled="data.ConfirmPassword != data.NewPassword" ng-click=" changePassword(data) ">Login</button>
            </fieldset>
        </form>
    </div>