<div class="row" ng-if="!isAuthenticated" ng-show="loginMode">
    <div class="col-centered col-md-4">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" required="required" ng-model="loginUser.email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" required="required" ng-model="loginUser.password" id="password" class="form-control" />
                    </div>
                    <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="toggleLogin()">Login</button>
</div>

<div class="row" ng-if="isAuthenticated">
    <div class="text-center jumbotron">
        <div class="border col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My issues</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Issue Name</th>
                                <th>Due Date</th>
                                <th>View Issue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="issue in issues" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
                                <td class="text-center">
                                    {{issue.Title}}
                                </td>
                                <td class="text-center">
                                    {{issue.DueDate | dateFormater}}
                                </td>
                                <td><a href="#/issue/{{issue.Id}}" class="btn btn-primary">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="border col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Projects leader</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>View project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projects" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
                                    <td class="text-center">
                                        {{project.Name}}
                                    </td>
                                    <td><a href="#/projects/{{project.Id}}" class="btn btn-primary">View</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="border col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Projects has issues in</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>View project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projectsByIssue" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
                                    <td class="text-center">
                                        {{project.Name}}
                                    </td>
                                    <td><a href="#/projects/{{project.Id}}" class="btn btn-primary">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>