<div class="jumbotron">
    <div class="row">
        <div class="col-md-7 col-centered">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Project</h3>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div ng-if="isAdmin()" class="form-group">
                                <label for="Leader" class="col-md-4 control-label">Project leader</label>
                                <div class="col-md-8">
                                    <select id="Leader" class="form-control" ng-required="true" ng-options="user.Username for user in users track by user.Id"
                                        ng-model="project.Lead"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectName" class="col-md-4 control-label">Project name</label>
                                <div class="col-md-8">
                                    <input id="projectName" class="form-control" ng-model="project.Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectPriority" class="col-md-4 control-label">Project priorities</label>
                                <div class="col-md-8">
                                    <input id="projectPriority" class="form-control" ng-model="project.Priority" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectLabel" class="col-md-4 control-label">Project labels</label>
                                <div class="col-md-8" mass-autocomplete>
                                    <input class="form-control" id="issueLabel" ng-model="project.Label" mass-autocomplete-item="ac_option_delimited ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectDescription" class="col-md-4 control-label">Project description</label>
                                <div class="col-md-8">
                                    <textarea ng-model="project.Description" id="projectDescription" class="form-control" placeholder="Project description" type="text"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-offset-2 col-md-8">
                                    <button class="btn btn-primary" ng-click="editProject(project)">Edit project</button>
                                </div>
                            </div>
                            <fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>