<table class="table table-bordered">
    <tr ng-repeat="issue in issues" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
        <td class="text-center">
            {{issue.Title}}
        </td>
        <td class="text-center">
            {{issue.DueDate}}
        </td>
        <td class="text-center">
            {{issue.Description}}
        </td>
        <td class="text-center">
            {{issue.Assignee.Username}}
        </td>
        <td class="text-center">
            {{issue.Author.Username}}
        </td>
        <td class="text-center">
            {{issue.Priority.Name}}
        </td>
        <td class="text-center">
            {{issue.Status.Name}}
        </td>



    </tr>
</table>

<table class="table table-bordered">
    <tr ng-repeat="project in projects" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
        <td class="text-center">
            {{project.Title}}
        </td>
        <td class="text-center">
            {{project.DueDate}}
        </td>
        <td class="text-center">
            {{project.Description}}
        </td>
        <td class="text-center">
            {{project.Assignee.Username}}
        </td>
        <td class="text-center">
            {{project.Author.Username}}
        </td>
        <td class="text-center">
            {{project.Priority.Name}}
        </td>
        <td class="text-center">
            {{project.Status.Name}}
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr ng-repeat="project1 in projectsByIssue" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
        <td class="text-center">
            {{project1.Title}}
        </td>
        <td class="text-center">
            {{project1.DueDate}}
        </td>
        <td class="text-center">
            {{project1.Description}}
        </td>
        <td class="text-center">
            {{project1.Assignee.Username}}
        </td>
        <td class="text-center">
            {{project1.Author.Username}}
        </td>
        <td class="text-center">
            {{project1.Priority.Name}}
        </td>
        <td class="text-center">
            {{project1.Status.Name}}
        </td>
        <td class="text-center">
            <button class="btn btn-primary" ng-click="viewProject(project1.Id)">Login</button>
        </td>
    </tr>

</table>